.cabecalho{
    position: absolute;
    width: 2169px;
    height: 234px;
    left: -37px;
    top: 0px;
    
    background: #597FB1;
    box-shadow: 3.19901px 4.26535px 5.33168px rgba(0, 0, 0, 0.52);
}
.index{
        margin-left: 100px;}
#menu_to{
    opacity: 0;
}
#menu_to:checked + .menu_btn > span{
    transform: rotate(45deg);
}
#menu_to:checked + .menu_btn > span::before{
    top:0;
    transform: rotate(0deg);
}
#menu_to:checked + .menu_btn > span::after{
    top:0;
    transform: rotate(90deg);
}

#menu_to:checked ~ .menu_box {
    left: 0 !important;
  
}

.menu_btn{

    position:fixed;
    top: 34px;
    left: 50px;
    width: 41px;
    height: 34px;
    cursor: pointer;
    z-index: 1;
}

.menu_btn > span,
.menu_btn >span::before,
.menu_btn >span::after{

    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e8fdfb;
    transition-duration: .25s;
    display:flex;
}

.menu_btn > span::before{

    content: '';
    top: -8px;
}

.menu_btn >span::after{
    content: '';
    top: 8px;
}

.menu_box{

    display: block;
    position: fixed;
    top:0;
    left:-100%;
    width:300px;
    height:100%;
    margin:0;
    : 80px;
    list-style: none;
    background-color:#2f3333;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    transition: .25s;
}

.menu_item{

    display: block;
    padding: 12px 24px;
    color: #c4c0d6;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu_item:hover{

    background-color: #455860;
}
/* ---------------------------------------------------------------CABECALHO---------------------------------------------- */
body
{
    background-color: #EDEDED;

    margin:0px;
}
.logo{

    width: 25px;
    margin-left: 720px;
    margin-top: 21px;
    margin-bottom: 21px;
 
}

.logoimg{

    width: 51px;
    height: 60px;

}
.pesquisa{

    background-color: white;
    border-radius: 10px;
    width: 824px;
    height: 35px;
    margin-left: 20px;
}
.pesquisatxt{

    margin-left: px;
    border: 0px;
}
.pesquisaicone{
    
    width:34px;
    height: 35px;
    margin-top: 3px;
    margin-left: 7px;

}
.carrinho{

    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
