.cabecalho{
   
    width: 100%;
    height: 115px;
    left: -37px;
    top: 0px;
    
    background: #597FB1;
    box-shadow: 3.19901px 4.26535px 5.33168px rgba(0, 0, 0, 0.52);
}
.index{
        margin-left: 100px;}
#menu_to{
    opacity: 0;
}
#menu_to:checked + .menu_btn > span{
    transform: rotate(45deg);
}
#menu_to:checked + .menu_btn > span::before{
    top:0;
    transform: rotate(0deg);
}
#menu_to:checked + .menu_btn > span::after{
    top:0;
    transform: rotate(90deg);
}

#menu_to:checked ~ .menu_box {
    left: 0 !important;
  
}

.menu_btn{

   width: 40px;
   height: 40px;
position: absolute;
left: 3%;
right: 95.15%;
padding-top: 39px;

/* IconCor */

    cursor: pointer;
    z-index: 1;
} 

.menu_btn > span,
.menu_btn >span::before,
.menu_btn >span::after{

    display:block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4D4D4D;
    transition-duration: .25s;
    display:flex;
}

.menu_btn > span::before{

    content: '';
    top: -8px;
}

.menu_btn >span::after{
    content: '';
    top: 8px;
}

.menu_box{

    display: block;
    position: fixed;
    top:0;
    left:-100%;
    width:300px;
    height:100%;
    margin:0;
    padding-left: 80px;
    list-style: none;
    background: #4F719D;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
    transition: .25s;
}

.menu_item{

    display: block;
    padding: 12px 24px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu_item:hover{

    background-color: #455860;
}

.logo{

    position: absolute;
width: 54.38px;
height: 63.98px;
left: 33%;
top: 22.39px;

 
}

.logoimg{

    width: 51px;
    height: 60px;

}
.pesquisa{

    position: absolute;
width: 480px;
height: 40px;
left: 42%;
top: 29px;
display: flex;
background: #F1F1F1;
border-radius: 10.6634px;
}
.pesquisatxt{

    width:360px;
    height: 35px;
    border: 0px;
    margin-left: 47px;
    padding-top: 1px;
    background-color: #F1F1F1;
}
.pesquisa_icone{
    
    position: absolute;
    width: 50px;
    height: 35px;
    padding-left: 10px;
    padding-top: 10px;

}


.login{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 75%;
    top: 29px;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.login_icone{
    position: absolute;
    width: 40px;
    height: 20px;
    left: 52px;
    top: 10px;


}

.carrinho{

    
    position: absolute;
    width: 120px;
    height: 40px;
    left: 85%;
    top: 29px;
    background-color: #F1F1F1;
    border-radius: 10px;
}
.carrinho_icone{

    position: absolute;
    width: 40px;
    height: 20px;
    left: 52px;
    top: 10px;


}
/* ---------------------------------------------------------------CABECALHO---------------------------------------------- */
body
{
    margin:0px;
}
.mae{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto;
    background-color: #112D4E;
}
.descricao{
    background-color: #FFFFFF;
    border-radius: 10PX;
    margin-left:10%;
    margin-right:10%;
    justify-content: space-between;
    display:flex;
    height: 330px;
}
.desc_img1{
    margin-top: 10px;
    width: 60%
}
.desc_img2{
    width: 100%;
    max-width: 725px;
    max-height: 330px;
    border: 0;
}
.desc_txt{
    margin-top: 60px;
    max-width: 40%;
    padding-right: 20px;
    margin-left: 4px;
    text-align: justify;

}
.desc_txt1{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    filter: drop-shadow(5px 5px 15px);
}

.prod_imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right:10%;
    
    border-radius: 10px;
}
.prod_img{
        width: 100%;
        height: 165px;
}
.prod1,
.prod2,
.prod3 {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    width: 33%;
    background-color: #FFFFFF;
    border-radius: 10px;
    height:330px;
}


.prod_txt1{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}
.prod_txt {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FFFFFF;
}

.vidv {
    width: 100%;
    max-width: 725px;
    height: 330px;
    border: 0;

}

.prod_vidv {
    margin-top: 10px;
    width: 60%
}

.prod_vidt {
    margin-top: 30px;
    width: 40%;
    padding-right: 20px;
    margin-left: 4px;
   

}
.vidtxt{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    letter-spacing: -0.015em;
    text-align: justify; 
    color: #000000;
}
.prod_video {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10%;
    margin-left:10%;
    margin-right: 10%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* ----------------------------------------------------------------CORPO------------------------------------------------- */
.container{
    max-width: 1170px;
    margin:auto
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #000000;
    opacity: 40%;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 35px;
  
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #597FB1;
    height:2px;
    box-sizing: border-box;
    width:50px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
} 
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #228f9e;
    text-decoration: none;
    display: block;
    transition: all 0.3 ease;
}
.footer_email ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #228f9e;
    text-decoration: none;
    display: block;
    transition: all 0.3 ease;
}  
.footer_email ul li a:hover{
    color:#FFFFFF;
    padding-left:8px;
 } 
.footer-col ul li a:hover{
   color:#FFFFFF;
   padding-left:8px;
} 
.footer-col .social a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: #afa2d3;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5 ease;
}

.footer-col .social a:hover{
    color: #2f2841;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.footer_img{
    width: 100%;

}

.footer_imgc{

    padding-right: 100px;
}










/* ------------------------------------------------------------------FOOTER------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');


.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

